{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block main %}
<div class="container py-1">
  <div class="row justify-content-center">
    <div class="col-md-5 p-1">
      <div class="card" style="width: max-width: 600px;">
        <div class="card-body">
          <h5 class="card-title">Привет, я автор</h5>
          <p class="card-text">Меня зовут Алексей и мне 16 лет) Сейчас учусь в Яндекс.Практикуме по специальности Python-разработчик.
                               В будущем думаю пробовать развиваться на фриланс площадках.</p>
          <p class="card-text">Мои проекты всегда можно найти на моем <a class="link-dark" href="https://github.com/alexzawadsky">GitHub</a>.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 