{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block main %}
  <div class="container py-5">
    <div class="row">
      <h1>Вот что я умею</h1>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
          <li class="list-group-item">
            HTML, Bootstrap
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <h4>Это учебный проект Yatube(Alfa 1.2.1) - социальная сеть.</h4>
        <p>Здесь вы сможете выкладывать посты различного содержания: о мероприятиях, важных событиях или просто о себе. Так же тут есть возможность подписываться на пользователей и следить за их публикациями.</p>
        <br>
        <p>На площадке запрещено:</p>
        <ul>
          <li>
            Использовать нецензурную лексику
          </li>
          <li>
            Оскорблять или принижать других пользователей
          </li>
          <li>
            Выкладывать картинки шокирующего содержания
          </li>
          <li>
            Спамить неинформативными постами
          </li>
        </ul>
        <br>
        <p>За нарушение правил ваша запись(си) могут быть удалены. В особых случаях ваш акаунт будет занесен в черный список.</p>
        <p>Будем уважать себя и других!<p/>
      </article>
    </div>
  </div>
{% endblock %} 