{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block main %}
  <div class="container py-1">
    <div class="row justify-content-center">
      <div class="col-md-5 p-1">
        <div class="card" style="width: max-width: 600px;">
          <div class="card-body">
            <h5 class="card-title">Это учебный проект Yatube(1.0.0) - социальная сеть.</h5>
            <p>Здесь вы сможете выкладывать посты различного содержания: о мероприятиях, важных событиях или просто о себе. Так же тут есть возможность подписываться на пользователей и следить за их публикациями.</p>
            <br>
            <p>На площадке запрещено:</p>
            <ul>
              <li>
                Использовать нецензурную лексику
              </li>
              <li>
                Оскорблять или принижать других пользователей
              </li>
              <li>
                Выкладывать картинки шокирующего содержания
              </li>
              <li>
                Спамить неинформативными постами
              </li>
            </ul>
            <br>
            <p>За нарушение правил ваша запись(си) могут быть удалены. В особых случаях ваш акаунт будет занесен в черный список.</p>
            <p>Будем уважать себя и других!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 