{% if user.is_authenticated %}
  <div class="container py-1">
    <div class="row justify-content-center">
      <div class="col-md-5 p-1">
        <div class="row my-3">
          {% with request.resolver_match.view_name as view_name %}
            <ul class="nav nav-pills">
              <li class="nav-item"> 
                <a class="nav-link {% if view_name  == 'posts:index' %}active{% endif %}"
                  href="{% url 'posts:index' %}"
                >Все авторы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if view_name  == 'posts:follow_index' %}active{% endif %}"
                  href="{% url 'posts:follow_index' %}"
                >Подписки</a>
              </li>
            </ul>
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

