{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Подписки
{% endblock %}
{% block main %}
  <div class="container py-1">
    <div class="row justify-content-center">
      <div class="col-md-5 p-1">
        {% include 'posts/includes/switcher.html' %}
        {% if posts_exist %}
          {% for post in page_obj %}
            {% include 'posts/includes/post_list.html' %}
            {% if not forloop.last %}<br>{% endif %}
          {% endfor %}
        {% else %}
          <h5>Вы не подписанны ни на одного автора ):</h5>
        {% endif %}
      </div>
      {% include 'posts/includes/paginator.html' %}
    </div>
  </div>
{% endblock main %}