{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  {{ author.get_full_name }}
{% endblock %}
{% block main %}
  <div class="container py-1">
    <div class="row justify-content-center">
      <div class="col-md-5 p-1"> 
        <h1>{{ author.get_full_name }} </h1>
        <h3>Всего постов: {{ count }} </h3>
        {% if author.id != user.id %}
          {% if following %}
            <a
              class="btn btn-lg btn-light"
              href="{% url 'posts:profile_unfollow' author.username %}" role="button"
            >
              Отписаться
            </a>
          {% else %}
            <a
              class="btn btn-lg btn-primary"
              href="{% url 'posts:profile_follow' author.username %}" role="button"
            >
              Подписаться
            </a>
          {% endif %}
          <br><br>
        {% endif %}
        {% for post in page_obj %}
          {% include 'posts/includes/post_list.html' %}
          {% if not forloop.last %}<br>{% endif %}
        {% endfor %}
        {% include 'posts/includes/paginator.html' %}
      </div>
    </div>
  </div>
{% endblock %}